@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#FBE5E0);
}

.cabecalho {
    width: 100vw;
    padding: 1.5rem;
    
}

.menu-lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.menu-lista-item {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    font-weight: 200;

}

.menu-lista-item:first-child {
    margin-right: 15rem;
    margin-left: 15rem;
    font-weight: 800;
    font-size: 2rem;
}

.botao-sign-in {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
    background: linear-gradient(#F2A1CC, #EEBE8D);
    padding: 1.2rem;
    border-radius: 50px;
    width: 11rem;
    font-weight: 300;
    color: white;
    cursor: pointer;
}

.botao-sign-in:hover{
    filter: brightness(110%);
}

.conteudo-principal {
    display: flex;
    margin-top: 10px;
}

.descricao {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
}

.titulo-principal {
    font-size: 5rem;
    margin-top: 5rem;
}

.subtitulo {
    font-size: 2rem;
    font-weight: 300;
    color: grey;
}

.botoes {
    position: relative;
    display: flex;
    width: 50vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;

}

.botao-start {
    align-self: left;
    display: inline-block;
    position: relative;
    background: linear-gradient(45deg, #ff0202, #FF6584);
    color: white;
    font-size: 1.2rem;
    border-radius: 50px;
    padding: 20px;
    margin-top: 20px;
    width: 150px;
    margin-right: 250px;
    cursor: pointer;
}

.botao-start:hover{
    filter: brightness(120%);

}

.botao-contact-sales {
    align-self: right;
    display: inline-block;
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    color: black;
    font-size: 1.2rem;
    border-radius: 50px;
    padding: 20px;
    margin-top: 20px;
    width: 170px;
    border: 0.4px solid wheat;
    margin-left: 150px;
    cursor: pointer;

}

.botao-contact-sales:hover{
    filter: brightness(120%);
    border: 0.4px solid grey;
}

.conteudo-secundario {
    width: 50vw;
}

.imagem {
    height: 80vh;
}